body {
  font-family: "Lato", sans-serif;

  font-family:"Open sans", sans-serif;
  background-color: rgba(229, 84, 115, 0.1);
  margin-left: 240px;
  margin-right: 240px;
}

.header {
  width: 1920px;
  height: 850px;
}
/* NAV SECTN */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-size: 40px;
  font-weight: 800;
  color: #e55473;
}

.btn-primary {
  -webkit-text-fill-color: white;
  background-color: #e55473;
  font-size: 40px;
  border-radius: 10px;
  border: none;
  padding: 20px 43px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  font-size: 30px;
  margin-right: 50px;
  list-style: none;
  color: #474747;
}
nav a {
  text-decoration: none;
}

.banner {
}
