body {
  font-family: "Lato", sans-serif;
}

.global_button {
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  padding: 20px 40px;
  background-color: #e55473;
  border: none;
  border-radius: 8px;
}

/* nav */


nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(229, 84, 115, 0.10);
}

.nav_title{
  text-align: center;
  font-size: 48px;
  padding-left: 120px;
  text-decoration: underline;
  font-weight: 800;
}
nav>ul{
  display: flex;
  align-items: center;
}
nav li{
  font-size: 25px;
  list-style: none;
  margin-right: 50px;
}

nav a{
  text-decoration: none;
  
}

nav button{
  border-radius: 5px;
  color: white;
  background-color: #e55473;
  border: none;
  padding: 15px 20px;
  font-weight: 400;
  font-size: 18px;
}




/* Banner */

.banner {
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: center;
}

.banner h3 {
  padding-top: 150px;
  font-size: 80px;
  font-weight: 800;
  width: 708px;
  
}
.banner p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 500;
  padding-right: 170px;
  width: 634px;
  padding-bottom: 32px;

}
.banner_img {

  padding-bottom: 0px;
  padding-top: 50px;
}

.banner button{
}


/* Feature Flowers */

.feature_flowers h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;
}

.feature_flowers p {
  text-align: center;
  padding: 0px 660px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}

/* feature Board */

.feature_img {
  justify-content: center;
  display: flex;
  gap: 25px;
  margin-bottom: 192px;
}

.board_1 {
  width: 464px;
  height: 538px;
  background: rgba(167, 33, 98, 0.15);
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}

.board_1 img {
  padding: 110px 78px 0px 78px;
}

.board_2 img {
  padding: 117px 47px 50px 47px;
}

.board_3 img {
  padding: 67px 75px 0px 67px;
}

.feature_img p {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
}

.board_2 {
  width: 464px;
  height: 538px;
  background: rgba(5, 150.7, 160, 0.15);
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}

.board_3 {
  width: 464px;
  height: 538px;
  background: rgba(71, 125, 17, 0.15);
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
}

/* deal */

.deal {
  justify-content: center;
  display: flex;
  background-color: rgba(229, 84, 115, 0.1);

  margin-bottom: 178px;
}

.deal_content {
  width: 595px;
  text-align: center;
}

.deal h3 {
  font-size: 40px;
  margin-top: 230px;
}

.deal h3 span {
  color: #e55473;
}

.deal p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}

.deal button {
  margin-bottom: 182px;
}

.deal_img {
  margin-top: 100px;
  margin-left: 186px;
}

/* instagram */

.instagram h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;
}

.instagram p {
  text-align: center;
  padding: 0px 660px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}

.instagram_board {
  margin-bottom: 128px;
}

.instagram_img {
  justify-content: center;
  display: flex;
  gap: 25px;
}

/* deals */

.deals {
  align-items: center;
  background-position: center;
  background-image: url(./images/Rectangle\ 9.png);
  background-repeat: no-repeat;

  border-radius: 8px;
}

.deals-frm {
  display: flex;
}

.deals-head h3 {
  padding-top: 122px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 16px;
}

.deals-head p {
  text-align: center;
  margin-bottom: 48px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400px;
}

.deals-frm {
  margin-bottom: 122px;

  justify-content: center;
  
}

.email {
  padding: 22px 22px;
  width: 600px;
  height: 20px;
  margin-right: 16px;
  font-size: 16px;
  border-radius: 8px;
  border:none;
}

.email-area {
}

.deals_m {
  padding-bottom: 120px;
}

/* footer */
footer {
  text-align: center;
  background: black;
}

.foot h3 {
  padding-top: 128px;
  padding-bottom: 24px;
  font-size: 48px;
  color: #e55473;
  font-weight: 800;
}

.foot h3 span {
  color: white;
}

.foot p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 0px 650px;
}

footer > p {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
  padding-top: 33px;
  padding-bottom: 128px;
}
