body {
  font-family: "Open sans", sans-serif;
}

.header {
  width: 1920px;
}
/* NAV SECTN */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 240px;
  padding-right: 240px;
  background-color: rgba(229, 84, 115, 0.1);
}

.nav-title {
  font-size: 40px;
  font-weight: 800;
  color: #e55473;
}

.btn-primary {
  -webkit-text-fill-color: white;
  background-color: #e55473;
  font-size: 40px;
  border-radius: 10px;
  border: none;
  padding: 20px 43px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  font-size: 30px;
  margin-right: 50px;
  list-style: none;
  color: #474747;
}
nav a {
  text-decoration: none;
}

.banner {
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
  width: 1920px;
}

.banner-content {
  margin-left: 240px;
  display: block;
}
.banner-greetings {
  font-size: 80px;
  font-weight: 800;
  margin-right: 97px;
  margin-bottom: 32px;
  margin-top: 197pxå;
}

.banner-p {
  width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.banner-pic {
  margin-top: 50px;
  margin-right: 240px;
  margin-bottom: 0px;
}

.featured-section {
  margin: 176px 450px 0px;
  text-align: center;
}

.featured-title {
  font-size: 40px;
}

.featured-p {
  padding: 0px 150px;
  height: 60px;
}

.feature-container {
  display: flex;
  justify-content: space-around;
  
}

.feature-1 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  
}
.feature-2 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  margin-left: 24;
}
.feature-3 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.feature-1 img {
  padding: 110px 77px 0px;
}
.feature-2 img {
  padding:  117px 47px 51px;
}
.feature-3 img {
  padding: 67px 75px 0px;
}
